{
    "daemon": true,
    "port": 5555,

    "zlog_conf": "conf/zlog.conf",

    "mysql": {
        "master": {
            "host": "127.0.0.1",
            "port": 3306,
            "dbname": "test",
            "username": "dev",
            "password": "work@dev"
        },

        "slaves": {
            "host": "127.0.0.1",
            "port": 3306,
            "dbname": "test",
            "username": "dev",
            "password": "work@dev"
        }
    }
}
